name: Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Read secret
        run: echo "My API key is ${{ secrets.MY_API_KEY }}"
